<%- include header %>

<div id="wrapper">
	<div class="tabbable" style="margin-bottom: 18px;">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab2" data-toggle="tab">BUG修复</a></li>
	    <li><a href="#tab1" data-toggle="tab">版本更新</a></li>
	  </ul>
	  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
	    <div class="tab-pane" id="tab1" style="height:400px;">
	      <h4 class="dateFont">V1.0.0</h4>
	      <ul>
	      	<li style="list-style-type:square">话题发布模块</li>
	      	<li style="list-style-type:square">日报模块</li>
	      	<li style="list-style-type:square">个人中心模块</li>
	      	<li style="list-style-type:square">日志记录模块</li>
	      </ul>
	    </div>
	    <div class="tab-pane active" id="tab2" style="height:400px;">
	     
	     
	      <h4 class="dateFont">2013-01-03</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">话题文章在新窗口打开</li>
	      	<!--li style="list-style-type:square">积分日志增加前次积分记录值</li-->
	      	<li style="list-style-type:square">增加日报管理和话题管理入口</li>
	      </ul>
 			<h4 class="dateFont">2013-12-31</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">前端社区增加个人积分日志</li>
	      	<li style="list-style-type:square">更改了部分模块的排列顺序</li>
	      	<li style="list-style-type:square">修复个人信息session同步问题</li>
	      </ul>
	      <h4 class="dateFont">2013-12-29</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">前端社区积分排行榜显示问题</li>
	      	<li style="list-style-type:square">话题日报统计数显示问题</li>
	      	<li style="list-style-type:square">需增加查看他人资料入口</li>
	      	<li style="list-style-type:square">管理员需可以根据状态查看成员的每一个份日报</li>
	      	<li style="list-style-type:square">不同页面时间格式的显示问题</li>
	      	<li style="list-style-type:square">增加管理员对话题的管理</li>
	      </ul>

	    </div>
	  </div>
	</div>
</div>

<%- include footer %>