<%- include header %>

<div id="wrapper">
	<div class="tabbable" style="margin-bottom: 18px;">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab2" data-toggle="tab">BUG修复</a></li>
	    <li><a href="#tab1" data-toggle="tab">版本更新</a></li>
	    <li><a href="#tab3" data-toggle="tab">待修复bug</a></li>
	  </ul>
	  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
	    <div class="tab-pane" id="tab1" style="height:500px;">
	      <h4 class="dateFont">V1.1.0</h4>
	      <ul>
	      	<li style="list-style-type:square">阅读模块</li>
	      </ul>
	      <h4 class="dateFont">V1.0.0</h4>
	      <ul>
	      	<li style="list-style-type:square">话题发布模块</li>
	      	<li style="list-style-type:square">日报模块</li>
	      	<li style="list-style-type:square">个人中心模块</li>
	      	<li style="list-style-type:square">日志记录模块</li>
	      </ul>
	    </div>
	    <div class="tab-pane active" id="tab2" style="height:500px;">
	     <h4 class="dateFont">2013-02-08</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">编辑器上传图片</li>
	      	<li style="list-style-type:square">积分日志增加前次积分记录值</li>
	      	<li style="list-style-type:square">增加积分日志自定义字段</li>
	      	<li style="list-style-type:square">添加文章点赞记录</li>
	      	<li style="list-style-type:square">发布时间（一小时）问题</li>
	      </ul>

	      <h4 class="dateFont">2013-01-08</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">管理员查看日报分页功能及最新时间排序</li>
	      	<li style="list-style-type:square">我的日报列表和话题列表页头像显示问题</li>
	      	<li style="list-style-type:square">管理员积分排行榜名字重叠显示</li>
	      </ul>
	      <h4 class="dateFont">2013-01-06</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">增加头像修改功能</li>
	      </ul>
	      <h4 class="dateFont">2013-01-03</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">话题文章在新窗口打开</li>
	      	<!--li style="list-style-type:square">积分日志增加前次积分记录值</li-->
	      	<li style="list-style-type:square">增加日报管理和话题管理入口</li>
	      </ul>
 			<h4 class="dateFont">2013-12-31</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">前端社区增加个人积分日志</li>
	      	<li style="list-style-type:square">更改了部分模块的排列顺序</li>
	      	<li style="list-style-type:square">修复个人信息session同步问题</li>
	      </ul>
	      <h4 class="dateFont">2013-12-29</h4>
	      <ul style="max-height:none;">
	      	<li style="list-style-type:square">前端社区积分排行榜显示问题</li>
	      	<li style="list-style-type:square">话题日报统计数显示问题</li>
	      	<li style="list-style-type:square">需增加查看他人资料入口</li>
	      	<li style="list-style-type:square">管理员需可以根据状态查看成员的每一个份日报</li>
	      	<li style="list-style-type:square">不同页面时间格式的显示问题</li>
	      	<li style="list-style-type:square">增加管理员对话题的管理</li>
	      </ul>

	    </div>

	    <div class="tab-pane" id="tab3" style="height:500px;">
	     
			<ul style="max-height:none;">
				<li style="list-style-type:square">@用户 功能&&消息提示</li>
				<li style="list-style-type:square">日报详细页显示对应的积分和点评</li>
				<li style="list-style-type:square">管理员对日报可以多次点评</li>
				<li style="list-style-type:square">增加权限原子分配功能</li>
				<li style="list-style-type:square">增加消息通知功能</li>
				<li style="list-style-type:square">Session过期值设定</li>
				<li style="list-style-type:square">项目管理中的Session跨域问题</li>
			</ul>


	    </div>


	  </div>
	</div>
</div>

<%- include footer %>


