<div class="athena-main-panel" style="display: block;">
    <div class="my-info-wrap">
        <div class="athena-my-info">
            <div class="image">
                <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                title="章晓健">
            </div>
            <dl class="info">
                <dt class="nick-name">
                    章晓健
                </dt>
                <dd class="signature">
                    <p>
                        <a href="javascript:;" target="_blank" title=" 阅读版块上线了！">
                            阅读版块上线了！
                        </a>
                    </p>
                </dd>
                <dd class="listening" style="display:none;">
                    <p>
                    </p>
                </dd>
            </dl>
        </div>
    </div>
    <div class="athena-tab-view">
        <ul class="tabs">
            <li class="tab">
                <a herf="javascript:;">
                    社区空间
                </a>
            </li>
            <li class="tab current">
                <a herf="javascript:;" data-spm-anchor-id="a1z1s.6843761.0.0">
                    我的好友
                </a>
            </li>
            <li class="tab last">
                <a herf="javascript:;">
                    最近联系
                </a>
            </li>
        </ul>
        <div class="search-wrap">
            <div class="athena-search">
                <input type="text" name="nick_name" placeholder="请输入好友昵称" val="0">
                <a class="athena-btn btn-search" href="javascript:;">
                    查找
                </a>
            </div>
        </div>
        <div class="items" style="height: 450px; overflow:auto; overflow-x:hidden;">
            <div class="item talent-list-wrap" style="height: auto; overflow: hidden; padding: 0px; outline: none; display: none; width: 0px;">
                <div class="jspContainer" style="width: 0px; height: auto;">
                    <div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 0px;">
                        <div class="talent-list">
                            <div class="athena-user" data-uid="547627">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/10/547627_1385016949_1.jpg"
                                    title="白梧禅" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            白梧禅
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                            素袂凭声，遇见温暖的你。
                                        </p>
                                    </dd>
                                    <dd class="listening" style="">
                                        <p>
                                            <span class="follow-num">
                                                39
                                            </span>
                                            个人正在跟TA听歌
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496474">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496474_1385519349_1.png"
                                    title="北岛南城°" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            北岛南城°
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                        </p>
                                    </dd>
                                    <dd class="listening" style="">
                                        <p>
                                            <span class="follow-num">
                                                2
                                            </span>
                                            个人正在跟TA听歌
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496696">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496696_1389581837_1.jpg"
                                    title="回家路途推荐歌曲" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            回家路途推荐歌曲
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                        </p>
                                    </dd>
                                    <dd class="listening" style="">
                                        <p>
                                            <span class="follow-num">
                                                2
                                            </span>
                                            个人正在跟TA听歌
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496912">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496912_1388643389_1.jpg"
                                    title="英伦music" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            英伦music
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                            英国UK单曲榜
                                        </p>
                                    </dd>
                                    <dd class="listening" style="">
                                        <p>
                                            <span class="follow-num">
                                                2
                                            </span>
                                            个人正在跟TA听歌
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496981">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496981_1388643537_1.jpg"
                                    title="Billboard" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            Billboard
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                            每周更新~
                                        </p>
                                    </dd>
                                    <dd class="listening" style="">
                                        <p>
                                            <span class="follow-num">
                                                2
                                            </span>
                                            个人正在跟TA听歌
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="3073711">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/61/3073711_1390630256_1.jpg"
                                    title="公公" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            公公
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496093">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496093_1385518824_1.jpg"
                                    title="呆子。" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            呆子。
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496615">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496615_1385519484_1.jpg"
                                    title="一枚别致の疯子" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            一枚别致の疯子
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                            哥是个传说
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496786">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496786_1388642299_1.jpg"
                                    title="Hito中文" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            Hito中文
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="athena-user" data-uid="28496853">
                                <div class="image">
                                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/569/28496853_1388642751_1.jpg"
                                    title="香港劲歌" width="50" height="50">
                                    <i class="athena-icon icon-status icon-status-listening">
                                    </i>
                                    <i class="athena-icon icon-message" style="display: none;">
                                    </i>
                                </div>
                                <dl class="info">
                                    <dt class="nick-name">
                                        <p>
                                            香港劲歌
                                        </p>
                                    </dt>
                                    <dd class="signature" style="display: none;">
                                        <p>
                                            喜欢听劲歌金曲嘛?
                                        </p>
                                    </dd>
                                </dl>
                                <div class="opt">
                                    <a class="athena-btn btn-play" href="javascript:;" style="">
                                        <i class="athena-icon icon-play">
                                        </i>
                                        <span>
                                            播放
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item friend-list-wrap current jspScrollable" style="height: auto; overflow: hidden; padding: 0px; outline: none; width: 218px;"
            tabindex="0">
                <div class="jspContainer" style="width: 218px; height: auto;">
                    <div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 218px;">
                        <div class="no-friends-tip" style="display: none;">
                            暂无关注的好友
                            <br>
                            <a href="http://www.xiami.com/relation/talentcollect" target="_blank">
                                先去找好友吧
                            </a>
                        </div>
                        <div class="friends-list-online-wrap">
                            <div class="friends-list-online">
                                <div class="athena-user" data-uid="1346863">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/26/1346863_1391524352_1.jpg"
                                        title="Chinsta" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-online">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                Chinsta
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                                Chinsta
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="friends-list-offline-wrap">
                            <div class="friends-list-offline">
                                <div class="athena-user" data-uid="1251113">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/25/1251113_1390186223_1.jpg"
                                        title="darkslow" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                darkslow
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                                荒唐人的梦
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="2386932">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/47/2386932_1389939232_1.jpg"
                                        title="不顶不顶不顶" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                不顶不顶不顶
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                                一群酒
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="5132287">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                                        title="CandY" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                CandY
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="6058609">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/121/6058609_1390061681_1.jpg"
                                        title="Vogue Russia" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                Vogue Russia
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                                oh~ sexy voice﹌○﹋
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="6722250">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/134/44/6722250/6722250_1320944973_1.jpg"
                                        title="nicholaszsl" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                nicholaszsl
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="13869115">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/277/38/13869115/13869115_1366103996_1.jpg"
                                        title="雅痞howareu" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                雅痞howareu
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="18897858">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/377/95/18897858/188978581376067402_1.gif"
                                        title="啤酒工作坊" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                啤酒工作坊
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="21266700">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/425/33/21266700/212667001378435249_1.jpg"
                                        title="GLAY" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                GLAY
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="31963681">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/639/319636811390266291_1.jpg"
                                        title="芋仔魚" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                芋仔魚
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="athena-user" data-uid="31991511">
                                    <div class="image">
                                        <img class="avatar" src="http://img.xiami.net/images/avatar_new/639/319915111390308782_1.jpg"
                                        title="无名无名名名名ming" width="50" height="50">
                                        <i class="athena-icon icon-status icon-status-offline">
                                        </i>
                                        <i class="athena-icon icon-message" style="display: none;">
                                        </i>
                                    </div>
                                    <dl class="info">
                                        <dt class="nick-name">
                                            <p>
                                                无名无名名名名ming
                                            </p>
                                        </dt>
                                        <dd class="signature">
                                            <p>
                                            </p>
                                        </dd>
                                        <dd class="listening" style="display: none;">
                                        </dd>
                                    </dl>
                                    <div class="opt">
                                        <a class="athena-btn btn-play" href="javascript:;" style="display: none;">
                                            <i class="athena-icon icon-play">
                                            </i>
                                            <span>
                                                播放
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="athena-btn btn-close" href="javascript:;">
        <i class="athena-icon icon-close">
        </i>
        <span>
            关闭
        </span>
    </a>
</div>
<div class="athena-panel athena-chat-panel" style="position:fixed;display:none;">
    <div class="athena-panel-inner">
        <div class="user-wrap">
            <div class="athena-user" data-uid="1080627">
                <div class="image">
                    <img class="avatar" src="http://img.xiami.net/images/avatar_new/21/61/1080627/1080627_1356915633_1.jpg"
                    title="黑暗的小天使" width="50" height="50">
                </div>
                <dl class="info" style="width:250px;">
                    <dt class="nick-name">
                        <p>
                            黑暗的小天使
                        </p>
                    </dt>
                    <dd class="signature" style="display: none;">
                        <p>
                        </p>
                    </dd>
                    <dd class="listening" style="">
                        <p>
                            一个人唱歌，好无聊
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="view-history">
            <span>
            </span>
            <a class="more-history">
                查看更多聊天记录
            </a>
        </div>
        <div class="chat-list-wrap">
            <div class="athena-chat-list" data-to-user-id="">
               <div class="athena-chat-item chat-item-1">
                    <p class="time">
                        2014-2-11 11:28:26
                    </p>
                    <div class="image" style="display:none;">
                        <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                        width="50" height="50">
                    </div>
                    <i class="arrow">
                    </i>
                    <div class="content">
                        adf
                    </div>
                    <p class="tip" style="display:none;">
                        <i class="athena-icon icon-loading">
                        </i>
                    </p>
                </div>
                <div class="athena-chat-item chat-item-1">
                    <p class="time">
                        2014-2-11 11:28:26
                    </p>
                    <div class="image" style="display:none;">
                        <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                        width="50" height="50">
                    </div>
                    <i class="arrow">
                    </i>
                    <div class="content">
                        adf
                    </div>
                    <p class="tip" style="display:none;">
                        <i class="athena-icon icon-loading">
                        </i>
                    </p>
                </div>
                <div class="athena-chat-item chat-item-1">
                    <p class="time">
                        2014-2-11 11:28:26
                    </p>
                    <div class="image" style="display:none;">
                        <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                        width="50" height="50">
                    </div>
                    <i class="arrow">
                    </i>
                    <div class="content">
                        adf
                    </div>
                    <p class="tip" style="display:none;">
                        <i class="athena-icon icon-loading">
                        </i>
                    </p>
                </div>
                <div class="athena-chat-item chat-item-1">
                    <p class="time">
                        2014-2-11 11:28:26
                    </p>
                    <div class="image" style="display:none;">
                        <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                        width="50" height="50">
                    </div>
                    <i class="arrow">
                    </i>
                    <div class="content">
                        adf
                    </div>
                    <p class="tip" style="display:none;">
                        <i class="athena-icon icon-loading">
                        </i>
                    </p>
                </div>
                <div class="athena-chat-item chat-item-1">
                    <p class="time">
                        2014-2-11 11:28:26
                    </p>
                    <div class="image" style="display:none;">
                        <img class="avatar" src="http://img.xiami.net/res/img/default/usr50.gif"
                        width="50" height="50">
                    </div>
                    <i class="arrow">
                    </i>
                    <div class="content">
                        adf
                    </div>
                    <p class="tip" style="display:none;">
                        <i class="athena-icon icon-loading">
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <div class="chat-editor-wrap">
            <div class="athena-chat-editor" data-to-user-id="" data-sign-key="" data-my-avatar="">
                <input class="my-message" name="my-message" maxlength="200"  placeholder="最多输入200个字..." rows="1">
                <div class="opt">
                    <a href="javascript:;" class="athena-btn btn-send">
                        发送
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a class="athena-btn btn-close" href="javascript:;">
        <i class="athena-icon icon-close">
        </i>
        <span>
            关闭
        </span>
    </a>
</div>
<div class="athena-main-button" style="">
    <div class="inner">
        <p class="content">
            <i class="athena-icon icon-play">
            </i>
            <span class="listening-friends-count">
                0
            </span>
            个好友在线
        </p>
        <a class="athena-btn btn-switch-size" href="javascript:;" data-spm-anchor-id="a1z1s.6843761.0.0">
            <i class="athena-icon icon-min-size">
            </i>
            <span>
                收起
            </span>
        </a>
    </div>
</div>