   		<footer>
   			  <div class="container clearfix">
				<hr class="footer-divider">
				<div style="text-align:center;">
				    <ul id="legal">
				        <li style="margin-left:0;"><a target="_blank" href="https://github.com/napster99/node-twitter.git">下载源代码</a></li>
				        <li><a target="_blank" href="http://www.bianfeng.com/">官网首页</a></li>
				        <li><a target="_blank" href="http://www.bianfeng.com/group.html###/">联系我们</a></li>
				        <br style="clear:both;" />
				    </ul>
				    <p class="right">© 2013 <span >杭州边锋网络科技有限公司</span>, Inc. All rights reserved.</p>
			    </div>
			  </div>
   		</footer>
   </div>

  </body>

</html>