<%- include header %>
<style type="text/css">
  .projects-header{width:72%;text-align:center;margin:60px 0 10px;font-weight:200;margin-bottom:40px;display:block;margin-left:auto;margin-right:auto}.projects-header h2{font-size:30px;letter-spacing:-1px}@media screen and (min-width:768px){.projects-header h2{font-size:50px}}
  .thumbnail{min-height: 150px;}
</style>
<div class="projects-header page-header">
  <h2 style="font-weight:normal;">内部前端资源导航</h2>
  <p>这些前端资源用于方便大家工作上需要的进行查找，同时如有实用的资源要提供，举双手欢迎！</p>
</div>
<div class="row">

        <div class="span6 span4 ">
          <div class="thumbnail">
            <div class="caption">
              <h3> 
                <a href="http://demo.qpdiy.com/bhl/pluginCenter/" title="在这边，可能会找到你想要的" target="_blank">JavaScript插件库</a>
              </h3>
              <p>
             提供基础、表单、表格、Bootstrap、信息提示、编辑器、日历、颜色、地图、Range、数据图表、图片、布局、特效与其他等
              </p>
            </div>
          </div>
        </div>

        <div class="span6 span4 ">
          <div class="thumbnail">
            <div class="caption">
              <h3> 
                <a href="javascript:;" title="你的呢" target="_blank">期待下一个...</a>
              </h3>
              <p>
             ....
              </p>
            </div>
          </div>
        </div>
</div>
<%- include footer %>