<%- include header %>


<div id="wrapper">
	<div id="main">
		<div id="sidebar">
			<%- include sidebar %>
		</div>
		<div id="content">
			<%- include messageList %>
		</div>
	</div>
</div>

<%- include footer %>
