body{border: 0; margin: 0; /*font:16px/22px Microsoft Yahei,simsun,sans-serif;*/ }
.dn{ display: none;}
.scratchCard #mask{
	/*padding: 133px 102px;*/
	left: 78px;top: 266px;
	cursor: pointer;
}
.scratchCard{
	display: none;
	position: absolute;
	z-index: 1000;
	top: 50%; left: 50%;
	margin: -130px 0 0 -250px;
	padding-top: 113px;
	padding-left: 102px;
	border: 1px solid #666;
	border-radius: 5px;
	box-shadow: 0 -1px 0 #999, 5px 5px 20px #999, inset 0 1px 6px #000;
	-webkit-box-shadow: 0 -1px 0 #999, 5px 5px 20px #999, inset 0 1px 6px #000;
	width: 398px; height: 259px;
	background: url(../images/bg.png) no-repeat;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.scratchCard .close{
	position: absolute;
	right: 15px;
	top: 13px;
	display: block;
	border: 1px solid #666;
	border-radius: 3px;
	width: 29px;
	cursor: pointer;
	text-align: center;
	background: #387038;
}
.scratchCard .close:hover{background: #E75371; transition: .5s; }
.scratchCard .info,.scratchCard .mask{position: absolute; width: 278px; height: 99px; top: 129px; }
.scratchCard .info{
	padding-top: 10px;
	font: 14px/22px Simsun,Microsoft YaHei;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.scratchCard .info span{color: red; }
/*.scratchCard .mask{ background: #fff; color: #fff;}*/

.scratchCard #againBtn {
	display: block;
	margin-top: 174px;
	margin-left: 62px;
	text-align: center;
	line-height: 3;
	font-size: 18px;
	cursor: pointer;
	width: 150px; height: 51px;
	background: url(../images/btn.png) no-repeat;
	font-weight: bold;
	color: #1C4D26;
}
.scratchCard #againBtn:hover{ background-position: -150px 0px; text-decoration: none;}